body {
    background-color: rgb(107, 105, 105);
}
h2 {
    font-family: monospace;
    color: darkgrey;
    text-align: center;
    padding-top: 100px;
    font-size: 60px;
    position: relative;
    left: 30px;
}

.nav-link {
    font-family: monospace;
    font-size: 14px;
    color: white;
}
.navbar-header {
    font-family:monospace;
    font-size: medium;
    color:white;
}



.icon-links {
    position: relative;
    left: 580px;
}

#name-redirect:hover {
    color: darkgrey;
}


#github-icon {
    color: black;
}
#github-icon:hover {
  color: darkgrey;
}

#linkedin-icon {
    color: black;
}
#linkedin-icon:hover {
  color: darkgrey;
}

#mail-icon {
    color: black;
}
#mail-icon:hover {
  color: darkgrey;
}